@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7f7;
}

.infoBar {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-height: 180px;
  padding: 20px 35px;
  border-radius: 15px;
}

.right {
  display: block;
  align-items: center;
}
.right p {
  font-weight: 500;
}

p {
  font-size: 1rem;
}

.name {
  font-size: 2.25rem;
}

i {
  font-size: 16px;
  color: #00ae81;
}

p span {
  color: #00ae81;
}

.button {
  border-width: 1px;
  border-style: solid;
  border-color: #00ae81;
  background-color: #c7e4dc7e;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 500;
  color: #018a65;
  display: inline-flex;
  outline: none;
}

.button:hover {
  border: 1 solid #00ae81;
  background-color: #c7e4dc;
}

.button-icon,
.button-text {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: 1rem;
}

.left {
  text-align: center;
  font-weight: 500;
}

.refs {
  font-size: 1.375rem;
  font-weight: 500;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .right {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .right {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 575.98px) {
  .right {
    text-align: center;
    margin-bottom: 30px;
  }
  .left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .left div {
    margin-right: 10px;
    text-align: center;
    width: 100px;
  }
}
